spring:
  application:
    name: orchestrator

  datasource:
    url: jdbc:postgresql://localhost:5432/bookproduction
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3

server:
  port: 8081

logging:
  level:
    org.advanced_architecture: DEBUG
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG
